/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */
html {
  margin: 0;
  padding: 0;
  border: 0; }

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

/* Remember to define your own focus styles! */
:focus {
  outline: 0; }

/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */
/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 100.01%; }

body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #111; }

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0; }

/* Text elements
-------------------------------------------------------------- */
p {
  margin: 0 0 1.5em; }

/* 
	These can be used to pull an image at the start of a paragraph, so 
	that the text flows around it (usage: <p><img class="left">Text</p>) 
 */
.left {
  float: left !important; }

p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

.right {
  float: right !important; }

p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0; }

a:focus,
a:hover {
  color: #09f; }

a {
  color: #06c;
  text-decoration: underline; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong, dfn {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

sup, sub {
  line-height: 0; }

abbr,
acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* Lists
-------------------------------------------------------------- */
li ul,
li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

/* Tables
-------------------------------------------------------------- */
/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */
table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
tbody tr:nth-child(even) td,
tbody tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

/* Misc classes
-------------------------------------------------------------- */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

.hide {
  display: none; }

.quiet {
  color: #666; }

.loud {
  color: #000; }

.highlight {
  background: #ff0; }

.added {
  background: #060;
  color: #fff; }

.removed {
  background: #900;
  color: #fff; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

/* ----------------------------------------------- */
/* sites css                                       */
/* ----------------------------------------------- */
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }
a, a:visited, a:active {
  color: #607890; }
a:hover {
  color: #036; }

body {
  background: whiteSmoke; }

#Container {
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 20px;
  padding: 10px; }

.header .SiteLogo {
  font-size: 120%;
  font-weight: bold;
  text-decoration: none; }

.nav {
  background-color: #777;
  height: 30px;
  font-weight: bold;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .nav ul {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    line-height: normal;
    margin: 0;
    padding: 5px 0 0 10px;
    list-style: none;
    line-height: normal;
    float: left; }
    .nav ul li {
      float: left;
      display: block;
      margin-left: 5px; }
      .nav ul li a {
        display: block;
        float: left;
        margin-right: 5px;
        padding: 0px 15px;
        text-decoration: none;
        color: whiteSmoke; }
        .nav ul li a:visited {
          color: whiteSmoke; }
        .nav ul li a:hover {
          text-decoration: underline;
          color: whiteSmoke; }
  .nav #GoogleSearch {
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 3px; }

.footer {
  margin-top: 10px;
  border-top: #cccccc 1px solid;
  font-size: x-small;
  text-align: right;
  clear: both; }

#content {
  margin-top: 10px;
  margin-left: 20px; }
  #content .about {
    font-size: small;
    margin-bottom: 20px; }

.PodPage .PodInfo {
  float: right;
  text-align: right;
  overflow: visible; }
.PodPage .PodBody ul.pod_toc {
  list-style: none;
  margin-bottom: 10px; }
  .PodPage .PodBody ul.pod_toc ul {
    list-style: none;
    margin: 0; }
.PodPage .PodBody .pod_content_body div.original {
  display: none; }
.PodPage .PodBody .pod_content_body pre {
  background-color: white;
  border: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }
.PodPage .PodBody .pod_content_body h1 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.5em; }
.PodPage .PodBody .pod_content_body h2 {
  font-size: 1.8em;
  margin-bottom: 0.75em; }
.PodPage .PodBody .pod_content_body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }
.PodPage .PodBody .pod_content_body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }
.PodPage .PodBody .pod_content_body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }
.PodPage .PodBody .pod_content_body h6 {
  font-size: 1em;
  font-weight: bold; }
.PodPage .PodBody .pod_content_body p {
  margin-left: 10px; }
.PodPage .PodBody .pod_content_body ul {
  margin-left: 20px; }
.PodPage .PodBody .pod_content_body dl {
  margin-left: 30px; }
.PodPage .PodBody .pod_content_body dt {
  margin-top: 10px; }
.PodPage .PodBody .pod_content_body dd {
  margin-left: 30px; }

.DirectoryIndexContainer h1 {
  font-size: 120%; }
.DirectoryIndexContainer ul.DirectoryIndex {
  list-style: none;
  margin-top: 20px;
  font-size: 100%; }

.IndexModuleContent .old {
  color: red; }
.IndexModuleContent .fresh {
  color: green; }

.alert {
  color: red;
  font-size: 150%;
  font-weight: bold; }

/* media queries for iPhone */
@media screen and (max-device-width: 480px) {
  body {
    margin: 1.5em; }

  #Container {
    width: 100%;
    font-size: 200%;
    line-height: 1.5em; }

  #content .about {
    font-size: normal;
    margin-bottom: 20px; }

  pre {
    overflow: auto; }

  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; }

  nav #GoogleSearch {
    display: none; }

  .IndexModuleContent .old {
    display: block; }
  .IndexModuleContent .fresh {
    display: block; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 110%; } }
