@import url(../prettify/prettify.css);

/* ----------------------------------------------- */
/* sites css                                       */
/* ----------------------------------------------- */
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }
a, a:visited, a:active {
  color: #607890; }
a:hover {
  color: #036; }

body {
  background: white; }

#Container {
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left; }

.header .SiteLogo {
  font-size: 120%;
  font-weight: bold;
  text-decoration: none; }

.nav {
  background-color: #777;
  height: 30px;
  font-weight: bold;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .nav ul {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    line-height: normal;
    margin: 0;
    padding: 5px 0 0 10px;
    list-style: none;
    line-height: normal;
    float: left; }
    .nav ul li {
      float: left;
      display: block;
      margin-left: 5px; }
      .nav ul li a {
        display: block;
        float: left;
        margin-right: 5px;
        padding: 0px 15px;
        text-decoration: none;
        color: whiteSmoke; }
        .nav ul li a:visited {
          color: whiteSmoke; }
        .nav ul li a:hover {
          text-decoration: underline;
          color: whiteSmoke; }
  .nav #GoogleSearch {
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 3px; }

.footer {
  margin-top: 10px;
  border-top: #cccccc 1px solid;
  font-size: x-small;
  text-align: right;
  clear: both; }

#content {
  margin-top: 10px;
  margin-left: 20px; }
  #content .about {
    font-size: small;
    margin-bottom: 20px; }

.PodPage .PodInfo {
  float: right;
  text-align: right;
  overflow: visible; }
  .PodPage .PodInfo .OtherVersions {
    margin-top: 20px; }
.PodPage .BreadList {
  margin-bottom: 10px;
  float: left; }
.PodPage .PodBody {
  clear: left; }
  .PodPage .PodBody ul.pod_toc {
    list-style: none;
    margin-bottom: 10px; }
    .PodPage .PodBody ul.pod_toc ul {
      list-style: none;
      margin: 0; }
  .PodPage .PodBody .pod_content_body div.original {
    display: none; }
  .PodPage .PodBody .pod_content_body a.toc_link {
    color: white; }
    .PodPage .PodBody .pod_content_body a.toc_link:hover {
      color: #eccc01; }
  .PodPage .PodBody .pod_content_body .toc_link {
    text-decoration: none;
    font-size: 70%;
    vertical-align: top; }
  .PodPage .PodBody .pod_content_body pre {
    background-color: white;
    border: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .PodPage .PodBody .pod_content_body h1 {
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0.5em; }
  .PodPage .PodBody .pod_content_body h2 {
    font-size: 1.8em;
    margin-bottom: 0.75em; }
  .PodPage .PodBody .pod_content_body h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  .PodPage .PodBody .pod_content_body h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  .PodPage .PodBody .pod_content_body h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  .PodPage .PodBody .pod_content_body h6 {
    font-size: 1em;
    font-weight: bold; }
  .PodPage .PodBody .pod_content_body p {
    margin-left: 10px; }
  .PodPage .PodBody .pod_content_body ul {
    margin-left: 20px; }
  .PodPage .PodBody .pod_content_body dl {
    margin-left: 30px; }
  .PodPage .PodBody .pod_content_body dt {
    margin-top: 10px; }
  .PodPage .PodBody .pod_content_body dd {
    margin-left: 30px; }

.DirectoryIndexContainer h1 {
  font-size: 120%;
  font-weight: bold; }

.IndexModuleContent .old {
  color: red; }
.IndexModuleContent .fresh {
  color: green; }
.IndexModuleContent .oldVersionInfo {
  padding-left: 10px;
  font-size: x-small; }

.alert {
  color: red;
  font-size: 150%;
  font-weight: bold; }

/* media queries for iPhone */
@media screen and (max-device-width: 480px) {
  #Container {
    width: 100%;
    line-height: 1.5em;
    word-wrap: break-word; }

  #content {
    margin-left: 2px; }
    #content .about {
      font-size: normal;
      margin-bottom: 20px; }

  pre {
    overflow: auto; }

  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; }

  nav #GoogleSearch {
    display: none; }

  .IndexModuleContent .old {
    display: block; }
  .IndexModuleContent .fresh {
    display: block; }

  .PodPage .PodInfo {
    display: none; }
  .PodPage .PodBody {
    clear: both; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 110%; } }
