@mixin rounded_corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

* {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
}

a {
    &:link {
        -webkit-tap-highlight-color: #FF5E99;
    }
    &, &:visited, &:active {
        color: #607890;
    }
    &:hover {
        color: #036;
    }
}

body {
    background: whiteSmoke;
}

#Container {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 10px;
}

.header {
    .SiteLogo {
        font-size: 200%;
        font-weight: bold;
        text-decoration: none;
    }
}

.nav {
    background-color: #777;
    height: 50px;
    font-weight: bold;
    @include rounded_corners(10px);

    ul {
        font-size: 16px;
        font-weight:bold;
        list-style: none;
        line-height: normal;
        margin: 0;
        padding: 17px 0 0 20px;
        list-style: none;
        line-height: normal;
        li {
            float: left;
            display: block;
            margin-left: 5px;
            a {
                display: block;
                float: left;
                margin-right: 5px;
                padding: 0px 15px;
                text-decoration: none;
                color: whiteSmoke;
                &:hover {
                    text-decoration: underline;
                    color: whiteSmoke;
                }
            }
        }
    }

    #GoogleSearch {
        display: inline;
        float: right;
        margin-right: 10px;
    }
}

.footer {
    margin-top: 10px;
    border-top: #cccccc 1px solid;
    font-size: x-small;
    text-align: right;
}

.content {
    .about { font-size: small; margin-bottom: 20px; }

    .ContentBody {
        margin-top: 20px;

        .IndexBody {
            line-height: 150%;
            margin-left: 14px;
        }
    }
}

.PodPage {
    .PodVersion {
        float: right;
    }
    .PodBody {
        clear: both;

        ul.pod_toc {
            list-style: none;
            margin: 0;
            ul {
                list-style: none;
                margin: 0;
            }
        }

        .pod_content_body {
            div.original { display: none; }

            pre {
                background-color: white;

                border: 0;

                border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;

                padding: 20px;

                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            h4 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            p {
                margin-left: 10px;
            }
            ul {
                margin-left: 20px;
            }
            dl {
                margin-left: 30px;
            }
            dt {
                margin-top: 10px;
            }
            dd {
                margin-left: 30px;
            }
        }
    }
}

.DirectoryIndex {
    list-style: none;
    margin-top: 20px;
    font-size: 100%;
}

.IndexModuleContent {
    .old   { color: red }
    .fresh { color: green }
}

.alert { color: red; font-size: 150%; font-weight: bold; }

/* media queries for iPhone */
@media screen and (max-device-width: 480px) {
    body { margin: 1.5em; }
    #Container {
        width: 100%;
        font-size: 300%;
        line-height: 1.5em;
    }
    pre { overflow:auto; }
    html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

