[% WRAPPER 'layout.html' %]

<div class="DirectoryIndexContainer">
    <p class="about">[% distvname %]の翻訳済ドキュメントの一覧です</p>

    <h1>[% distvname %]</h1>

    <table>
    [% FOR v IN index %]
        <tr>
            <td><a href="/docs/[% v.path %]">[% v.package || v.path %]</a></td>
            <td>[% v.description %]</td>
        </tr>
    [% END %]
    </table>
</div>

[% END %]
