[% INCLUDE 'include/header.tt' WITH subtitle=package %]

<div class="PodVersion">Version: [% distvname %]</div>
[% IF package %]
    <a href="http://search.cpan.org/perldoc?[% package %]">CPANで確認する</a>
[% END %]

<div class="PodBody">
[% body %]
</div>

[% INCLUDE 'include/footer.tt' %]
