[% INCLUDE 'include/header.tt' %]

<div class="content">
    <p class="about">Perl 本体に添付されている公式ドキュメントです。英語版は <a href="http://perldoc.perl.org">perldoc.perl.org</a>でみることができます</p>

    <div class="ContentBody">
        <h1>公式ドキュメント一覧</h1>
        <div class="IndexBody">[% toc %]</div>
    </div>
</div>

[% INCLUDE 'include/footer.tt' %]
