[% INCLUDE 'include/header.tt' %]

<div class="content">
    <p class="about">Perl の組み込み関数にかんするドキュメントです。英語版は <a href="http://perldoc.perl.org">perldoc.perl.org</a>でみることができます</p>

    <div class="ContentBody">
        <h1>Perl の組み込み関数</h1>

        <div class="IndexBody">
            [% toc %]
        </div>
    </div>
</div>

[% INCLUDE 'include/footer.tt' %]
